
.fixed {
    position: fixed;   
    top: 0;
    color: blueviolet;
}
.relative {
    position: relative;
    left: 200px;
    color: brown;
}
.virat{
    position: absolute;
    top:0px;
    left: 0px;
    color: blue;
}
.dhoni{
    position: absolute;
    top:0px;
    left: 400px;
    color:aqua;
}
.sachin{
    position:absolute;
    bottom:10px;
    left:0px;
    color: chartreuse;
    
}
.rohith{
    position: absolute;
    bottom:10px;
    left: 400px;
    color: crimson;
}
.rahul{
    position: absolute;
    top: 100px;
    left: 150px;
    color:deeppink;
}

.imagerelative
{
    position: relative;
}